{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block title %}
		<title>Todo Home</title>
	{% endblock %}

	<style type="text/css">

		.completed {
			color = red;
		}

		blockquote{
			border-left: 5px solid #880e4f !important;
		}

		.sidenav li>a{
			color: white !important;
		}

		.sidenav li>a>i{
			color: white !important;	
		}

	body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</head>
<body>
	  <nav class="pink darken-4 nav-extended">

	    <div class="nav-wrapper container">
	      	<a href="/" class="brand-logo">
	      		<i class="large material-icons">laptop_windows</i>
	      		My-Dash
	  		</a>
  		 <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        {% if request.user %}
	        <li>
	        	<a href="{% url 'project' %}" title="Project Todo Manager">
					<i class="material-icons left">star</i>
					Project
	        	</a>
	        </li>
	        <li>
	        	<a href="{% url 'todo' %}" title="Todo Manager">
	        		<i class="material-icons left">gps_fixed</i>
	        		Todo's
	        	</a>
	        </li>
	        <li>
	        	<a href="{% url 'youtube:dashboard' %}" title="Youtube Manager">
	        		<i class="material-icons left">ondemand_video</i>
	        		Youtube
	    		</a>
	    	</li>
	    	<li>
	        	<a href="{% url 'webaccountmanager:dashboard' %}" title="Account Manager">
	        		<i class="material-icons left">account_box</i>
	        		Web Account
	    		</a>
	    	</li>
	    	{% endif %}
	    	<li>
	    		{% if request.user %}
	    		<a href="{% url 'webaccountmanager:dashboard' %}" title="Account Manager">
	        		<i class="material-icons left">lock</i>
	        		Logout
	    		</a>
	    		{% else %}
	        	<a href="{% url 'webaccountmanager:dashboard' %}" title="Account Manager">
	        		<i class="material-icons left">lock_open</i>
	        		Login
	    		</a>
	    		{% endif %}
	    	</li>
	      </ul>
	    </div>
	  </nav>

<!-- Side nav Bar -->

	  <ul class="sidenav pink darken-4" id="mobile-demo">
	    {% if request.user %}
	    <li>
			<div class="user-view">
				<div class="background">
				    <img src="{% static 'profile.png' %}" >
				</div>
				<a href="#user"><img class="circle" src="{% static 'user.png' %}"></a>
				<a href="#name"><span class="white-text name">{{ request.user }}</span></a>
				<!-- <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
			</div>
		</li>
	        <li>
	        	<a href="{% url 'project' %}" title="Project Todo Manager">
					<i class="material-icons left">star</i>
					Project
	        	</a>
	        </li>
	        <li>
	        	<a href="{% url 'todo' %}" title="Todo Manager">
	        		<i class="material-icons left">gps_fixed</i>
	        		Todo's
	        	</a>
	        </li>
	        <li>
	        	<a href="{% url 'youtube:dashboard' %}" title="Youtube Manager">
	        		<i class="material-icons left">ondemand_video</i>
	        		Youtube
	    		</a>
	    	</li>
	    	<li>
	        	<a href="{% url 'webaccountmanager:dashboard' %}" title="Account Manager">
	        		<i class="material-icons left">account_box</i>
	        		Web Account
	    		</a>
	    	</li>
	    	{% endif %}
	    	<li>
	    		{% if request.user %}
	    		<a href="{% url 'webaccountmanager:dashboard' %}" title="Account Manager">
	        		<i class="material-icons left">lock</i>
	        		Logout
	    		</a>
	    		{% else %}
	        	<a href="{% url 'webaccountmanager:dashboard' %}" title="Account Manager">
	        		<i class="material-icons left">lock_open</i>
	        		Login
	    		</a>
	    		{% endif %}
	    	</li>
	  </ul>

	<div class="container">
		{% block content %}

		{% endblock %}	


		<div class="fixed-action-btn">
			<a class="btn-floating btn-large pink darken-4 pulse">
				<i class="large material-icons">add</i>
			</a>
			<ul>
				<li><a href="{% url 'todo' %}" class="btn-floating red" title="Add Todo"><i class="material-icons">assignment</i></a></li>
				<li><a href="{% url 'project' %}" class="btn-floating green" title="Add Project"><i class="material-icons">star</i></a></li>
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.fixed-action-btn').floatingActionButton();
			$('select').formSelect();
			$('.modal').modal();
			$(".dropdown-trigger").dropdown();
			$('.sidenav').sidenav();
			$("body").on("click", ".modal-trigger", function(){
				var acount_id = $(this).attr("data")
				$("#account_id").val(acount_id)

			})
		});
	</script>

	<!-- <footer class="page-footer pink darken-4">
		<div class="footer-copyright">
			<div class="container">
				© 2018 Copyright
			</div>
		</div>
	</footer> -->
</body>
</html>