{% extends 'index.html' %}

{% block title %}
	<title>Project</title>
{% endblock %}

{% block content %}
	<h1>Add Project</h1>
	<hr>
	<form method="POST">
		{% csrf_token %}
		{{ project_form }}

		<button class="btn" type="submit">Create</button>
	</form>
<div class="row">
	<div class="col l12">
		{% if projects %}
			<ul class="collection">
				{% for project in projects %}
	    		
					<li class="collection-item">
						<div>
							{{ project.name }}
							<a href="{% url 'project_todo' project.id %}" class="secondary-content" title="Add Todo's">
								<i class="material-icons">send</i>
							</a>
						</div>
					</li>
	    	
	    		{% endfor %}
	    	</ul>
		{% endif %}		
	</div>
</div>


	
{% endblock %}