{% extends 'index.html' %}

{% block title %}
	<title>My DashBoard</title>
{% endblock %}


{% block content %}
	
	<div class="row">
		<div class="col s12 m6 l6 xl6">
			<blockquote>
				<h5>Projects Todo's</h5>	
			</blockquote>
			<a class="btn waves-effect pink darken-4" href="{% url 'project' %}">Project</a>
		{% if projects %}
			<ul class="collection">
				{% for project in projects %}
	    		
					<li class="collection-item">
						<div>
							{{ project.name }}
							<a href="{% url 'project_todo' project.id %}" class="secondary-content" title="Add Todo's">
								<span data-badge-caption="todo's" class="new badge">
									{{ project.projecttodo_set.count }}
								</span>
								<!-- <i class="material-icons">send</i> -->
							</a>
						</div>
					</li>
	    	
	    		{% endfor %}
	    	</ul>
		{% endif %}
		</div>
	

	<div class="col s12 m6 l6 xl6">
		<blockquote>
			<h5>Common Todo's</h5>	
		</blockquote>
		<a class="btn waves-effect pink darken-4" href="{% url 'todo' %}">Add Todo</a>
		<ul class="collection">
		{% for todo in common_todo_list %}
			{% if todo.is_completed %}
				<li class="collection-item" style="color: red"> 
					<div>
						<del>{{todo.title}}</del>
						<a class="secondary-content" href="{% url 'delete_todo' todo.id  'dash' %}"><i class="material-icons red-text text-darken-2">delete</i></a>
						<a class="secondary-content" href="{% url 'change_common_todo_status' todo.id 'dash' %}"><i class="material-icons red-text text-darken-2">close</i></a>
						
					</div>
				</li>
			{% else %}
				<li class="collection-item">
					<div>
						{{todo.title}}
						<a class="secondary-content" href="{% url 'delete_todo' todo.id  'dash' %}"><i class="material-icons red-text text-darken-2">delete</i></a>
						<a class="secondary-content" href="{% url 'change_common_todo_status' todo.id 'dash' %}"><i class="material-icons teal-text text-darken-2">check_circle</i></a>
					</div>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
	</div>
  	</div>
	
{% endblock %}